.landingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// Section 1 CSS
.section1 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  scroll-snap-align: center;
  scroll-behavior: smooth;

  .section1Component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1 {
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      word-spacing: 5px;
      line-height: 40px;
      text-align: center;
      width: 60%;
    }
    button {
      font-size: 1.2rem;
      width: 20%;
      height: 3rem;
      border-radius: 5px;
      background-color: transparent;
      border: 0.5px solid #fff;
      transition: all 0.3s ease-in-out;
      margin-top: 15px;

      &:hover {
        cursor: pointer;
        background-color: var(--secondary-color);
        color: #000;
        border: 0.5px solid transparent;

        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.5);
      }
    }
    .typeAnimation {
      color: var(--secondary-color);
      font-size: 1.6rem;
      height: 95px;
    }
  }
}
@media screen and (max-width: 768px) {
  .section1 {
    height: 100vh;
    scroll-snap-align: none;
    .section1Component {
      h1 {
        font-size: 1.99rem;
      }
      .typeAnimation {
        font-size: 1.4rem;
      }
      p {
        font-size: 1rem;
        word-spacing: 3px;
        line-height: 25px;
        width: 90%;
      }
      button {
        width: 40%;
      }
    }
  }
}

// Section 2 CSS

.section2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  .section2Header {
    font-size: 2.8rem;
    span {
      color: var(--secondary-color);
    }
  }
  .serviceWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .section2Paragraph {
    margin-top: 72px;
    text-align: center;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .section2 {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    scroll-snap-align: none;

    .section2Header {
      font-size: 2rem;
    }
    .serviceWrapper {
      flex-direction: column;
      width: 100%;
    }
    .section2Paragraph {
      margin-top: 25px;
      text-align: center;
      width: 80%;
    }
  }
}
.serviceMainComp {
  transition: all 0.3s ease-in-out;
  margin-top: 15px;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .serviceComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 370px;
    background: rgba(255, 255, 255, 0.989);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    border-radius: 12px;
    padding: 20px;
    color: #000;
    &:hover {
      h1 {
        color: rgb(154, 154, 255);
      }
    }
    text-align: center;
    video {
      width: 200px;
      height: 200px;
      padding: 12px;
    }
  }
}
